# Google OAuth
GOOGLE_CLIENT_ID=tu_google_client_id
GOOGLE_CLIENT_SECRET=tu_google_client_secret

# GitHub OAuth (https://github.com/settings/developers)
GITHUB_ID=tu_github_client_id
GITHUB_SECRET=tu_github_client_secret

# NextAuth
# Local: http://localhost:3000
# Vercel: https://tu-app.vercel.app (sin barra final)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=genera_un_secret_en_https://generate-secret.vercel.app/32
AUTH_TRUST_HOST=true
